.floating-box {
    display: flex;
    padding: var(--sm);
    background-color: var(--DARK-GRAY);
    color: var(--WHITE);
    height: 15rem;
    width: 25rem;
    justify-content: space-between;
    flex-direction: column;
}

.floating{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.floating-box-pos{
    display: flex;
    justify-content: flex-start;
    font-size: var(--md);
    color: var(--BLACK);
    font-weight: 600;
    
}

.floating-box-msg{
    font-size: var(--md);
    color: var(--WHITE);
    display: flex;
    justify-content: flex-end;
}

.bottom-right {
   
}

.blue-border{
    border: 2px solid var(--BLUE);
}

.black-border{
    border: 2px solid var(--BLACK);
}